/* .message{
    padding: .5rem;
     margin: 1rem 0;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: flex-start;
}
.bubble{
    
    align-self: flex-end;
    

}
.author{
    font-size: 8px;
    margin-top: .5rem;
    padding-left: .2rem;
    color: #fff;
}
.content{

    background: #2e89ff;
    align-self: flex-end;
    overflow-wrap: break-word;
    color: #fff;
    padding: 6px;
    width: max-content;
    font-size: 14px;
    border-radius: 10px;
} */




.message {
    margin: 1rem 0;
    align-self: flex-start;
    margin-bottom: 20px;
    max-width: 70%;
}

.bubble {
  padding: 6px ;
    overflow-wrap: break-word;
    background: #2e89ff;
   border-radius: 10px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}
.author {
    font-size: 8px;
    padding-left: .2rem;
    color: #fff;
  }